In [1]:
import pandas as pd
df=pd.read_csv("netflix_titles.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020.0,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021.0,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021.0,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021.0,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021.0,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
5393,s5394,TV Show,Breakout,NaN,"Jeanette Aw, Elvin Ng, Zhou Ying, Christopher ...",NaN,"July 1, 2017",2010.0,TV-14,1 Season,"International TV Shows, TV Dramas",After losing her family in a suspicious car cr...
5394,s5395,Movie,Hans Teeuwen: Real Rancour,Doesjka van Hoogdalem,Hans Teeuwen,Netherlands,"July 1, 2017",2018.0,TV-MA,86 min,Stand-Up Comedy,Comedian Hans Teeuwen rebels against political...
5395,s5396,TV Show,Intersection,NaN,"İbrahim Çelikkol, Belçim Bilgin, Alican Yüceso...",Turkey,"July 1, 2017",2016.0,TV-MA,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Two wealthy businessmen with car obsessions cr...
5396,s5397,Movie,Lal Patthar,Sushil Majumdar,"Raaj Kumar, Hema Malini, Rakhee Gulzar, Vinod ...",India,"July 1, 2017",1971.0,TV-14,153 min,"Classic Movies, Dramas, International Movies","A vain, self-righteous nobleman falls in love ..."
5397,s5398,TV Sh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isnull().sum()

show_id            0
type               0
title              1
director        1883
cast             495
country          663
date_added         1
release_year       1
rating             1
duration           1
listed_in          1
description        1
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df['country']

7       United States, Ghana, Burkina Faso, United Kin...
8                                          United Kingdom
9                                           United States
12                                Germany, Czech Republic
24                                                  India
                              ...
5388                                               Turkey
5389                                            Australia
5391                                                India
5394                                          Netherlands
5396                                                India
Name: country, Length: 2964, dtype: object

In [11]:
df['date_added']=pd.to_datetime(df['date_added']).dt.strftime('%d-%m-%Y')
df['date_added']

7       24-09-2021
8       24-09-2021
9       24-09-2021
12      23-09-2021
24      21-09-2021
           ...
5388    01-07-2017
5389    01-07-2017
5391    01-07-2017
5394    01-07-2017
5396    01-07-2017
Name: date_added, Length: 2964, dtype: object

In [14]:
df.columns.str.lower().str.replace(' ','_')

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [15]:
df.dtypes

show_id          object
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year    float64
rating           object
duration         object
listed_in        object
description      object
dtype: object